<template>
  <div class="mt-2">
    <div class="mt-2 mb-2">
        <flash-message class="myCustomClass"></flash-message>
        <!-- Using props -->
        <h1>Add Order Bill</h1>
        <b-input-group size="lg" prepend="$" append=".00">
            <b-form-input v-on:keyup="enter_bill" type="number"></b-form-input>
        </b-input-group>
         <h1>Add Tip</h1>
        <b-input-group size="lg" prepend="$" append=".00">
            <b-form-input v-on:keyup="enter_tip" type="number"></b-form-input>
        </b-input-group>
    </div>
    <table class="table table-bordered">
        <thead>
            <th> Head</th>
            <th> Amount</th>
        </thead>
        <tbody>
            <tr>
                <td>Tip Amount</td>
                 <td>{{get_tip}}</td>
            </tr>
            <tr>
                <td>Order Bill</td>
                 <td>{{get_bill}}</td>
            </tr>
            <tr>
                <td>Sale Tax</td>
                 <td>{{get_tax}}</td>
            </tr>
            <tr>
                <td class="strong">Total Amount</td>
                 <td>{{get_total_amount}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    computed: {
        get_tip()
        {
            return this.$store.getters.get_tip;
        },
        get_tax()
        {
            return this.$store.getters.get_tax;
        },
        get_total_amount()
        {
            return this.$store.getters.get_total_amount;
        },
        get_bill()
        {
            return this.$store.getters.get_bill;
        }
    },
    methods:{
        enter_bill: function(event) 
        {
            if (event) {
                if(event.key != "Backspace")
                {
                     if(Number.isInteger(parseInt(event.key)))
                    {
                        this.$store.dispatch("add_bill",event.target._value)
                    }
                    else
                    {
                        this.flashError('Enter the valid Input in bill field');
                    }

                }
                else
                {
                    if(event.target._value == '')
                    {
                         this.$store.dispatch("add_bill",0)
                    }
                }
              
            }
        },
        enter_tip: function(event)
        {
           if (event) {
               if(event.key != "Backspace")
               {
                    if(Number.isInteger(parseInt(event.key)))
                    {
                        this.$store.dispatch("add_tip",event.target._value) 
                    }
                    else
                    {
                         this.flashError('Enter the valid Input in Tip field');
                    }

               }
               else
               {
                   debugger
                   if(event.target._value == '')
                    {
                         this.$store.dispatch("add_tip",0)
                    }
               }
            
               
            }
        }
    }
  }
</script>

