<style scoped>
    
</style>
<template>
    <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">CafeVS</b-navbar-brand>
    <template>
  <div>
    <b-button v-b-toggle.sidebar-1 class="btn btn-info slidercustombtn">Menu</b-button>
    <b-sidebar id="sidebar-1" title="CafeVS" shadow>
      <div class="px-3 py-2">
        <b-img src="https://picsum.photos/500/500/?image=22" fluid thumbnail></b-img>
      </div>
       <div class="px-3 py-2">
            <b-button-group>
            <b-button variant="info slidercustombtn"  href="#">Calculator</b-button>
            <b-button variant="info slidercustombtn" href="#">Hotel info</b-button>
            <b-button variant="info slidercustombtn" href="#">Rooms info</b-button>
            </b-button-group>
        </div>
    </b-sidebar>
  </div>
</template>
  </b-navbar>
</div>
</template>
<script>
export default ({

})
</script>
