.navbar-brand
{
    padding: 10px;
}
.slidercustombtn
{
    margin: 10px;
    color: white
}
.slidercustombtn:hover
{
    color: white;
    border-color: info;

}
.slidercustombtn:active
{
    color: white;
    border-color: info;
}